# Ignore Firebase keys
**/*firebase-adminsdk*.json
**/smart-souvenir-*-firebase-adminsdk-*.json
**/smartsouvenirshop-firebase-adminsdk-*.json

# Ignore all JSON except package
*.json
!package.json
!package-lock.json

# Ignore logs
logs/
*.log

# Ignore env
.env
.env.*

# Optional
GEMINI.md
