# Ignore all Firebase Admin key files
**/*firebase-adminsdk*.json
**/smart-souvenir-*-firebase-adminsdk-*.json
**/smartsouvenirshop-firebase-adminsdk-*.json

*.json
!package.json
!package-lock.json
.env
.env.* 
GEMINI.md

logs/
*.log